#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu {
    background: transparent;
    text-align: right;
}

#cssmenu>ul>li {
    display: inline-block;
}

#cssmenu.align-center>ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center>ul>li {
    display: inline-block;
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right>ul>li {
    float: right;
}

#cssmenu>ul>li>a {
    padding: 1.0625rem;
    letter-spacing: 0.0625rem;
    text-decoration: none;
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
}

#cssmenu>ul>li:hover>a {
    color: $black;
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 1.875rem;
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 1.5625rem;
    right: 0.4375rem;
    width: 0.5rem;
    height: 0.125rem;
    display: block;
    background: $black;
    content: '';
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 1.375rem;
    right: 0.625rem;
    display: block;
    width: 0.125rem;
    height: 0.5rem;
    background: $black;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu>ul>li.has-sub:hover>a:before {
    top: 1.4375rem;
    height: 0;
}

#cssmenu ul ul {
    position: absolute;
    left: -624.9375rem;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    text-align: left;
}

#cssmenu li:hover>ul {
    z-index: 22;
}

#cssmenu li:hover>ul,
#cssmenu li.focus>ul {
    left: auto;
}

#cssmenu.align-right li:hover>ul,
#cssmenu.align-right li.focus>ul {
    left: auto;
    right: 0;
}

#cssmenu li:hover>ul>li,
#cssmenu li.focus>ul>li {
    height: auto;
    margin-bottom: 0rem
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li a {
    border-bottom: 0.0625rem solid rgba(150, 150, 150, 0.15);
    padding: 0.6275rem 0.9375rem;
    width: 10.625rem;
    text-decoration: none;
    color: $black;
    font-weight: 400;
    background: $white;
    text-transform: uppercase;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0;
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
    color: $black;
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 1rem;
    right: 0.690rem;
    width: 0.5rem;
    height: 0.125rem;
    display: block;
    background: $black;
    content: '';
}

#cssmenu.align-right ul ul li.has-sub>a:after {
    right: auto;
    left: 0.6275rem;
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 0.8125rem;
    right: 0.875rem;
    display: block;
    width: 0.125rem;
    height: 0.5rem;
    background: $black;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu.align-right ul ul li.has-sub>a:before {
    right: auto;
    left: 0.875rem;
}

#cssmenu ul ul>li.has-sub:hover>a:before {
    top:1.0625rem;
    height: 0;
}

#cssmenu.small-screen {
    width: 100%;
}

#cssmenu.small-screen ul {
    width: 100%;
    display: none;
}

#cssmenu.small-screen.align-center>ul {
    text-align: left;
}

#cssmenu.small-screen ul li {
    width: 100%;
    border-top: 0.0625rem solid rgba(120, 120, 120, 0.2);
}

#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover>ul>li {
    height: auto;
}

#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a {
    width: 100%;
    border-bottom: 0;
}

#cssmenu.small-screen>ul>li {
    float: none;
}

#cssmenu.small-screen ul ul li a {
    padding-left: 1.5625rem;
}

#cssmenu.small-screen ul ul ul li a {
    padding-left: ‭2.1875rem;
}

#cssmenu.small-screen ul ul li a {
    color: $black;
    background: none;
}

#cssmenu.small-screen ul ul li:hover>a,
#cssmenu.small-screen ul ul li.active>a {
    color: $black;
}

#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
}

#cssmenu.small-screen>ul>li.has-sub>a:after,
#cssmenu.small-screen>ul>li.has-sub>a:before,
#cssmenu.small-screen ul ul>li.has-sub>a:after,
#cssmenu.small-screen ul ul>li.has-sub>a:before {
    display: none;
}

#cssmenu.small-screen #menu-button {
    display: block;
    padding:1.0625rem;
    color: $black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
}

#cssmenu.small-screen #menu-button:after {
    position: absolute;
    top: 1.375rem;
    right: 1.0625rem;
    display: block;
    height: 0.5rem;
    width: 1.25rem;
    border-top: 0.125rem solid $black;
    border-bottom: 0.125rem solid $black;
    content: '';
}

#cssmenu.small-screen #menu-button:before {
    position: absolute;
    top: 1rem;
    right:1.0625rem;
    display: block;
    height:0.125rem;
    width:1.25rem;
    background: $black;
    content: '';
}

#cssmenu.small-screen #menu-button.menu-opened:after {
    top:1.4375rem;
    border: 0;
    height:0.125rem;
    width:0.9375rem;
    background: $black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#cssmenu.small-screen #menu-button.menu-opened:before {
    top:1.4375rem;
    background: $black;
    width:0.9375rem;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#cssmenu.small-screen .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: ‭0.0625rem solid rgba(120, 120, 120, 0.2);
    height:2.875rem;
    width:2.875rem;
    cursor: pointer;
}

#cssmenu.small-screen .submenu-button.submenu-opened {
    background: $black;
}

#cssmenu.small-screen ul ul .submenu-button {
    height: 2.125rem;
    width: 2.125rem;
}

#cssmenu.small-screen .submenu-button:after {
    position: absolute;
    top: 20.125rem;
    right: ‭1.1875rem;
    width: ‭0.5rem;
    height:0.125rem;
    display: block;
    background: $black;
    content: '';
}

#cssmenu.small-screen ul ul .submenu-button:after {
    top:0.9375rem;
    right: 0.8125rem;
}

#cssmenu.small-screen .submenu-button.submenu-opened:after {
    background: $white;
}

#cssmenu.small-screen .submenu-button:before {
    position: absolute;
    top: ‭1.1875rem;
    right: 20.125rem;
    display: block;
    width:0.125rem;
    height: ‭0.5rem;
    background: $black;
    content: '';
}

#cssmenu.small-screen ul ul .submenu-button:before {
    top: 1‭0.125rem;
    right: 1rem;
}

#cssmenu.small-screen .submenu-button.submenu-opened:before {
    display: none;
}

#cssmenu.small-screen.select-list {
    padding: ‭0.3125rem;
}
