#header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
}
.bloc{
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    margin-left: 5vw;
    border: 2px solid black;
}
.ligne
{
    margin-top:0.5vw;
    margin-bottom:0.5vw;
    margin-left:0.5vw;
    margin-right:0.5vw;
}
.bouton{
    display: flex;
    margin-top: 3vw;
    justify-content: center;
}
.message{
    margin-left: 4vw;
    color:red;
    font-size: 1.2vw;
    width: 11.5vw;
}
